.vscode/
.idea/misc.xml
.idea/modules.xml
.idea/piaa.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
laba1/backtracking
laba2/littl
.gitignore

laba1/execution_times.txt
laba2/littl.cpp
laba2/fixed.cpp
laba2/fixed
laba3/.~lock.laba3.docx#
